[submodule "src/cmp"]
	path = src/cmp
	url = https://github.com/camgunz/cmp.git
[submodule "src/crc"]
	path = src/crc
	url = https://github.com/nuft/CRC.git
[submodule "src/serial-datagram"]
	path = src/serial-datagram
	url = https://github.com/Stapelzeiger/serial-datagram.git
[submodule "src/rcservo"]
	path = src/rcservo
	url = https://github.com/Stapelzeiger/rcservo.git
[submodule "src/test-runner"]
	path = src/test-runner
	url = https://github.com/cvra/test-runner.git
[submodule "packager"]
	path = packager
	url = https://github.com/cvra/packager.git
[submodule "src/hott"]
	path = src/hott
	url = https://github.com/Stapelzeiger/HoTT.git
[submodule "src/cmp_mem_access"]
	path = src/cmp_mem_access
	url = https://github.com/Stapelzeiger/cmp_mem_access.git
[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/Stapelzeiger/ChibiOS.git
[submodule "src/parameter"]
	path = src/parameter
	url = https://github.com/Stapelzeiger/parameter
[submodule "src/timestamp"]
	path = src/timestamp
	url = https://github.com/Stapelzeiger/timestamp.git
[submodule "src/sensors"]
	path = src/sensors
	url = https://github.com/Stapelzeiger/sensor-drivers.git
[submodule "src/flight-stack"]
	path = src/flight-stack
	url = https://stapelzeiger@github.com/Stapelzeiger/kalman-attitude-estimator.git
[submodule "src/eigen"]
	path = src/eigen
	url = https://github.com/Stapelzeiger/eigen.git
[submodule "src/arm-cortex-tools"]
	path = src/arm-cortex-tools
	url = https://github.com/cvra/arm-cortex-tools.git
[submodule "src/datagram-messages"]
	path = src/datagram-messages
	url = https://github.com/Stapelzeiger/datagram-messages.git
[submodule "python/zmqmsgbus"]
	path = python/zmqmsgbus
	url = https://github.com/stapelzeiger/zmqmsgbus.git
