[submodule "src/cmp"]
	path = src/low_level_controller/lib/comm/cmp
	url = https://github.com/camgunz/cmp.git
[submodule "src/crc"]
	path = src/low_level_controller/lib/comm/crc
	url = https://github.com/nuft/CRC.git
[submodule "src/serial-datagram"]
	path = src/low_level_controller/lib/comm/serial-datagram
	url = https://github.com/Stapelzeiger/serial-datagram.git
[submodule "src/cmp_mem_access"]
	path = src/low_level_controller/lib/comm/cmp_mem_access
	url = https://github.com/Stapelzeiger/cmp_mem_access.git
[submodule "ChibiOS"]
	path = src/low_level_controller/lib/mcu/ChibiOS
	url = https://github.com/Stapelzeiger/ChibiOS.git
[submodule "src/parameter"]
	path = src/low_level_controller/lib/parameter
	url = https://github.com/Stapelzeiger/parameter
[submodule "src/arm-cortex-tools"]
	path = src/low_level_controller/lib/mcu/arm-cortex-tools
	url = https://github.com/cvra/arm-cortex-tools.git
[submodule "src/low_level_controller/lib/libnop"]
	path = src/low_level_controller/lib/libnop
	url = https://github.com/google/libnop.git
[submodule "src/low_level_controller/lib/eigen"]
	path = src/low_level_controller/lib/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
